.register-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form-width {
    width: 400px;
}

.title {
    margin-top: 40px;
}

h2 {
    text-align: center;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-top: 20px;
}